<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
  <!--
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>
  -->
  
  <!-- Launch cartographer_3d -->
  <!--
  <param name="map_update_interval" value="0.5" />
  -->
  <include file="$(find me5413_world)/launch/cartographer_3d.launch" />
    

  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/gmapping.rviz" output="log" respawn="true"/>


</launch>